body {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

#board {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  max-width: 195px;
  min-width: 195px;
}

.boardSpot {
  background-color: bisque;
  border: 1px solid black;
  text-align: center;
  line-height: 60px;;
}

#display {
  width: 180px;
  height: 30px;
  background-color: cadetblue;
  text-align: center;
  line-height: 30px;
  overflow: auto;
  /* resize: vertical; */
}